.header {
    margin: 0px 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}


.header-logo {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.nav-bar {
    flex: 1;
    padding: 0px;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

h2 {
    margin-top: 0%;
    margin-bottom: 0%;
}

p {
    width: 450px;
}

.container-one {
    background-color: #1f2937;
    padding-bottom: 100px;
}

ul, li {
    list-style: none;
    text-decoration: none;
    color: #e5e7eb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.hero-text-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero-text-sec {
    font-size: 18px;
    color: #e5e7eb;  
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: larger;
    font-weight: bolder;
    padding: 8px;
    border-radius: 10px;
    width: 125px;
}

.hero-image {
    display:flex;
    min-width: 50%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 200px;

}

.hero-left {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
}

.info-head {
    border-style: dashed;
    border-color: crimson;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.info-section {
    padding-bottom: 100px;
}

.cards {
    border-style: dashed;
    border-color: crimson;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-one, .card-two, .card-three, .card-four {
    border-style: dashed;
    border-color: crimson;
    text-align: center;
    margin: 0%;

}
   

.quote-section {
    background-color: #e5e7eb;
}

.quote-text {
    border-style: dashed;
    border-color: crimson;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    display: flex;
}   

.quote-name  {
    border-style: dashed;
    border-color: crimson;
}
