.header {
    border-style: solid;
    border-color: crimson;
}

.header-logo {
    border-style: solid;
    border-color: crimson;
}

.nav-bar {
    border-style: solid;
    border-color: crimson;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

.container-one {
    background-color: #1f2937;
}

ul, li {
    list-style: none;
    text-decoration: none;
    color: #e5e7eb;
}

.hero-text-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;

}

.hero-text-sec {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
} 


